* {
  margin: 0;
  padding: 0;
}

/* Global styles*/
body {
  font: 1rem Arial, Helvetica, sans-serif;
  background: #ddd;
}

.wrapper {
  margin: auto;
  padding: 0.5rem;
  width: 80%;
  overflow: hidden;
}

ul {
  padding: 0;
  list-style-type: none;
}

.highlight {
  color: orangered;
  font-weight: bold;
}

.clear {
  clear: both;
}

/* Header */
header #navbar {
  background: #444;
  width: 100%;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 50px;
  border-bottom: 2px solid orangered;
}

header h1 {
  font-size: 2.3rem;
}

header #logo {
  float: left;
}

header #links {
  float: right;
}

header li {
  display: inline;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: 200;
  color: #fff;
  transition: 0.3s;
}

header a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  
}

header a:hover {
  color: #fff;
}

header li:hover {
  background: orangered;
  color: #fff;
}

/* Showcase */
#showcase {
  background: url('../img/showcase.jpg') 0px -400px;
  color: #fff;
  min-height: 30vh;
  font-size: 1.3rem;
  text-align: center;
  padding: 4rem;
  line-height: 2rem;
}

#showcase h1 {
  font-size: 3.5rem;
  margin-top: 2rem;
  /* padding-top: 4rem; */
  padding-bottom: 3rem;
  line-height: normal;
}

/* Subscribe */
#subscribe-form {
  padding-top: 2rem;
  padding-bottom: 4rem;
  background: #444;
  color: #fff;
  font-size: 1.2rem;
}

#subscribe-form h3 {
  float: left;
  padding-top: 10px;
}

#subscribe-form form {
  width: 30%;
  float: right;
}

#subscribe-form input[type=email] {
  width: 70%;
  height: 2rem;
}

#subscribe-form button {
  border: 0;
  background: orangered;
  color: white;
  padding: 10px 10px;
}

/* Boxes */
#boxes {
  text-align: center;
  line-height: 1.5rem;
}
#boxes .box {
  text-align: center;
  padding: 20px;
  margin: 10px;
  float: left;
  width: 30%;
  box-sizing: border-box;
}

#boxes img {
  width: 100px;
}
#boxes h3 {
  margin: 20px 0;
}

/* Footer */
footer {
  background: orangered;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Media queries */
@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
  header h1 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  header #navbar {
    padding-top: 40px;
    padding-bottom: 20px  ;
  }

  header #logo {
    float: none;
    display: block;
    text-align: center;
  }

  header #links {
    float: none;
    display: block;
    text-align: center;
  }

  header li {
    padding: 0 10px;
  }

  #showcase {
    padding: 2rem;
  }

  #showcase h1 {
    margin-top: 20px;
    font-size: 45px;
  }

  #showcase p {
    font-size: 1.3rem;
  }  

  #subscribe-form {
    padding: 10px;
  }

  #subscribe-form h3 {
    display: block;
    text-align: center;
    float: none;
    padding: 20px;
  }
  
  #subscribe-form form {
    display: block;
    float: none;
    text-align: center;
    width: 100%;
    padding: 10px;
  }

  #subscribe-form input[type=email]{
    width: 100%;
    text-align: center;
    display: block;
  }

  #subscribe-form button {
    width: 100%;
    display: block;
    margin: 5px auto;
  }

  #boxes .box {
    float: none;
    display: block;
    width: 100%;
  }

  footer {
    font-size: 0.9rem;
  }
}